body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    column-gap: 50px;
    color: white;
}

/* first section below */

.logo {
    font-weight: bold;
    margin-right: auto;
}

.laptop {
    max-width: 400px;
    height: auto;
}

.topsection {
    background-color: #1f2937;
    margin: -20px -10px 0 -17px;
    border: 5px;
    padding: 20px 35px 0;
}

.firstsection {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 0 40px 20px;
}

.hero {
    padding-bottom: 10px;
}
h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.exclusive {
    font-size: 18px;
    color: #e5e7eb;
}

.firstbutton {
    background-color: #3882f6;
    color: white;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

/* second section below */

.firstbodysectionheading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.secondlist {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 10px;
    color: black;
}

.listimage {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.textandimage {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    color: #1f2937;
    max-width: 200px;
    font-size: 18px;
}

/* third section below */
.thirdsection {
    background-color: #e5e7eb;
    margin: 0 -20px;
    padding: 50px 200px;
}

.review {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}

.reviewername {
    font-size: 18px;
    color: #1f2937;
    text-align: end;
    font-weight: bold;
}

/* fourth section below */

.calltoaction {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 0px;
    margin: 100px 125px;
    border-radius: 20px;
    color: #e5e7eb;
}

.secondbutton {
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    width: 25%;
}

h4 {
    font-size: 20px;
    margin-bottom: -10px;
}

.calltoactiontext {
    margin: 0 100px;

}

/* fifth section below */

.fifthsection {
    background-color: #1f2937;
    margin: -20px -10px;
}

.copyright {
    text-align: center;
    padding: 30px;
    color: #e5e7eb;
}